h1 {
	color: gray;
}

#myCanvas1 {
    border: 1px solid black;
}

#myCanvas2 {
    border: 1px solid black;
}

#myCanvas3 {
    border: 1px solid black;
}

#myCanvas4 {
    border: 1px solid black;
}

#myCanvas5 {
    border: 1px solid black;
}
